name: poketech
description: Pokemon TCG Live Matchup Guide System
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  # Estado y DI
  flutter_riverpod: ^2.4.5
  # HTTP
  dio: ^5.3.3
  # Almacenamiento local
  shared_preferences: ^2.2.2
  # UI
  google_fonts: ^6.1.0
  flutter_animate: ^4.2.0
  # Utilidades
  freezed_annotation: ^2.4.1
  json_annotation: ^4.8.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
  build_runner: ^2.4.6
  freezed: ^2.4.5
  json_serializable: ^6.7.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/fonts/